<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav') %>


    <% projects.forEach(function(item, index){%>
        <%if(projectId === item.id){%>
           <div class="projects-container">
            <h1><%=item.title%></h1>
            <img src="<%=item.image%>" alt="gfd">
            <p><strong>description: </strong><%=item.description%></p>
            <p><strong>technologies: </strong><%=item.technologies%></p>
            <p><strong>features: </strong><%=item.features%></p>
            <p><strong>status: </strong><%=item.status%></p>
            <p><strong>reflection: </strong> <%=item.reflection%></p>
            </div>
            <%}%>


    

    <%})%>
    

    
</body>
</html>