<%- include('./partials/nav.ejs') %>
<h1>skills</h1>

<% skills.forEach(function(item, index){%>
   <div class="skills-container">
    <ul> 
        <li>skill: <%=item.name%> <br> category: <%= item.category %> <br> level: <%=item.level  %> <br> Description: <%=item.description %></li> 
    </ul>
   </div>
<%})%>

</body>
</html>